.elements__element {
  margin: 0;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 210px 72px;
  grid-template-rows: 282px 79px;
  grid-template-areas:
  "image image"
  "title like";
}
